body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

/* Typography */
h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h4 {
    font-size: 21px;
    color: grey;
}

.phone-img {
    margin: 0 auto;
}

.waterfall-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
}

.camping-img {
    margin: 0 auto;
}

.download-btn {
    color: aquamarine;
    font-size: 16px;
}

/* Footer */
footer {
    text-align: right;
    color: grey;
}

/* Responsive Design */
/* @media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .hero {
        padding: 2rem 0;
    }

    .features,
    .cta {
        padding: 2rem 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .phone-container {
        max-width: 250px;
    }
} */